<nb-layout>

  <nb-layout-header subheader>
    <a routerLink="/login">SIGN OUT</a>
    <a href="#" (click)="toggle()"><i class="nb-menu"></i></a>
  </nb-layout-header>
  <nb-sidebar class="sidebar-top-position">
    <input nbInput placeholder="Поиск" #searchInput (change)="searchTasks(searchInput)">
    <nb-menu [items]="items">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column class="colored-column-basic">
<!--    ToDo переделать чтобы показывалось на главной странице-->
    <span *ngFor="let tag of tags">
      {{tag}}
    </span>
    <div *ngFor="let task of displayTasks">
      <nb-card status="success">
        <nb-card-header>
          {{task.title}}
        </nb-card-header>
        <nb-card-body>
          <div>
            {{task.content}}
          </div>
        </nb-card-body>
        <nb-card-footer>
        </nb-card-footer>
      </nb-card>
    </div>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
